<mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button> 
    E-Banking Application
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <app-side-bar></app-side-bar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <div class="content-router">
                <router-outlet></router-outlet>
            </div>
            
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>