.search {
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.save-btn {
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
}