<div class="top-section">
    <app-top-widget></app-top-widget>
</div>
<div class="middle-section">
    <div class="widget left">
        <app-customers-by-city></app-customers-by-city>
    </div>
    <div class="widget right">
       <app-mobileapp-vs-website></app-mobileapp-vs-website>
    </div>
</div>
<div class="bottom-section">
    <div class="widget left">
        <app-heatmap-transactions></app-heatmap-transactions>
    </div>
    <div class="widget right">
        <app-transaction-per-age></app-transaction-per-age>
    </div>
</div>